name: CI
on:
  pull_request:
  push:
  workflow_dispatch:

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10

jobs:
  build:
    strategy:
      matrix:
        profile:
        - name: 'dev'
          target_folder: 'debug'
        - name: 'release'
          target_folder: 'release'
    name: 'Build ${{ matrix.profile.name }}'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install Rust toolchain
        run: |
          sudo apt install -y musl-tools
          rustup update
          rustup target add x86_64-unknown-linux-musl

      - name: Cache Dependencies
        uses: Swatinem/rust-cache@v2
        with:
          key: ${{ matrix.profile.name }}

      - name: Compile
        run: cargo build --all --profile ${{ matrix.profile.name }} --quiet --target=x86_64-unknown-linux-musl

      - name: Upload Artifacts
        uses: actions/upload-artifact@v7
        with:
          name: ${{ matrix.profile.name }}
          path: |
            target/x86_64-unknown-linux-musl/${{ matrix.profile.target_folder }}/webbed_hook
            target/x86_64-unknown-linux-musl/${{ matrix.profile.target_folder }}/webbed_hook_receiver
